<!doctype html>
<html>

  <head>
    <meta charset="utf-8">
    <title>Ember.js • TodoMVC</title>
    <link rel="stylesheet" href="stylesheets/style.css">

    <script src="js/libs/jquery-1.11.2.min.js"></script>
    <script src="js/libs/handlebars-v1.3.0.js"></script>
    <script src="js/libs/ember.js"></script>
    <script src="js/libs/ember-data.js"></script>
    <script src="js/application.js" </script>
    <script src="js/router"> </script>
      
  </head>

  <body>

    <aside>
      <div id="mainLinks">
        This is where the links will go.
      </div>

      <br>

      <div id="articleList">
        This is where the other links will go.
      </div>
    </aside>

    <section id="main">
      {{#link-to "test" 1}}
        This is the main section.
      {{/link-to}}
    </section>

	  <script src="js/application.js"></script>
    <script src="js/router.js"></script>

  </body>
</html>