<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
      <div class="well sidebar">
        <h2 id="title">
          Improv Wiki
        </h2>
        <br>
        {{#link-to "articles.new"}}
          <h4 id="new-article-link">
            Make a New Article
          </h4>
        {{/link-to}}
        <div class="article-group">
          {{#each article in model}}
            {{#link-to "articles.view" article class="btn btn-default btn-raised btn-article"}} {{article.name}} {{/link-to}}
          {{/each}}
        </div>
      </div>
    </div>

    <div class="col-md-9">
      {{outlet}}
    </div>
  </div>
</div>


