{{#link-to 'article'}}
  <h2 id="title">
    Welcome to Ember.js
  </h2>
{{/link-to}}
{{#link-to "new-article" article}}
  <h2 id="new-article-link">
    New article, BITCH
  </h2>
{{/link-to}}

{{outlet}}
