.sidebar {
	margin-top: 2.5vh;
	margin-bottom: 2.5vh;
	min-height: 95vh;
}

.article-group {
	text-align: center;
}

.btn-article {
	width: 90%
}

.btn-submit-edit{
	position: absolute;
	bottom: 5%;
	right: 5%;
}

.btn-edit {
	position: absolute;
	bottom: 5%;
	right: 5%;
}

#article {
	margin-top: 2.5vh;
	min-height: 95vh;
}

#newArticlePreview {
	margin-top: 2.5vh;
	margin-bottom: 2.5vh;
}
